<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> {% block title %}Contact{% endblock title %} | Renewable Energy</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Renewable Energy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/abme">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </li>
    </ul>
  </div>
</nav>

<div class="col-lg-8 mx-auto p-2 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">More About Bio Gas</span>
      </a>
    </header>
    <main>
      <h3>What is biogas?</h3>
      <p class="fs-5 col-md-14">It mainly comprises of hydro-carbon which is combustible and can produce heat and energy when burnt. Bio-gas is produced through a bio-chemical process in which certain types of bacteria convert the biological wastes into useful bio-gas. Since the useful gas originates from biological process, it has been termed as bio-gas. Methane gas is the main constituent of biogas.</p>
    </main>
    <hr class="col-3 col-md-2 mb-5">
        <h3>Biogas production process</h4>
        <p class="fs-5 col-md-14">The process of bio-gas production is anaerobic in nature and takes place in two stages. The two stages have been termed as acid formation stage and methane formation stage. In the acid formation stage, the bio-degradable complex organic compounds present in the waste materials are acted upon by a group of acid forming bacteria present in the dung. Since the organic acids are the main products in this stage, it is known as acid forming stage. In the second stage, groups of methanogenic bacteria act upon the organic acids to produce methane gas.
        </p>
        <img src="https://media.istockphoto.com/photos/biogas-plant-sludge-renewable-energy-process-picture-id518625761?b=1&k=20&m=518625761&s=170667a&w=0&h=uOF4azInkBF4aE7GX-5NLPhWZIgAwm-Y9fmp-x1n9sY=" alt="">
    <hr class="col-3 col-md-2 mb-5">
        <h3>Raw materials for biogas production</h4>
        <p  class="fs-5 col-md-14">Although, cattle dung has been recognized as the chief raw material for bio-gas plants, other materials like night-soil, poultry litter and agricultural wastes can also be used.</p>
        <img src="https://i.pinimg.com/originals/8d/c2/71/8dc271e09bd7570df9ac659a8c2bb061.jpg" alt="">
    <hr class="col-3 col-md-2 mb-5">
        <h3>Advantages of biogas production</h4>
        <p class="fs-5 col-md-14">
            <ul class="list-group">
                <li class="list-group-item">It is a eco-friendly fuel.</li>
                <li class="list-group-item">The required raw materials for biogas production are available abundantly in villages.</li>
                <li class="list-group-item">It not only produces biogas, but also gives us nutrient rich slurry that can be used for crop production.</li>
                <li class="list-group-item">t prevents the health hazards of smoke in poorly ventilated rural households that use dung cake and fire-wood for cooking.</li>
                <li class="list-group-item">It helps to keep the environment clean, as there would be no open heap of dung or other waste materials that attract flies, insects and infections.</li>
                <li class="list-group-item">Availability of biogas would reduce the use of firewood and hence trees could be saved.
                </li>
            </ul>
        </p><hr class="col-3 col-md-2 mb-5">
        <h3>Components of biogas plants</h4>
        <p class="fs-5 col-md-14">
            <ul class="list-group">
                <li class="list-group-item">Mixing tank - The feed material (dung) is collected in the mixing tank. Sufficient water is added and the material is thoroughly mixed till a homogeneous slurry is formed.</li>
                <li class="list-group-item">Inlet pipe - The substrate is discharged into the digester through the inlet pipe/tank.</li>
                <li class="list-group-item">Digester - The slurry is fermented inside the digester and biogas is produced through bacterial action.</li>
                <li class="list-group-item">Gas holder or gas storage dome - The biogas gets collected in the gas holder, which holds the gas until the time of consumption.</li>
                <li class="list-group-item">Outlet pipe - The digested slurry is discharged into the outlet tank either through the outlet pipe or the opening provided in the digester.</li>
                <li class="list-group-item">Gas pipeline - The gas pipeline carries the gas to the point of utilization, such as a stove or lamp.
                </li>
              </ul>
        </p>
    <hr class="col-3 col-md-2 mb-5">
        <h3>Points to be considered for construction of a biogas plant</h4>
        <p class="fs-5 col-md-14">While selecting a site for a biogas plant, following aspects should be considered</p>
        <ul class="list-group">
            <li class="list-group-item">The land should be levelled and at a higher elevation than the surroundings to avoid water stagnation</li>
            <li class="list-group-item">Soil should not be too loose and should have a bearing strength of 2 kg/cm2</li>
            <li class="list-group-item">It should be nearer to the intended place of gas use (eg. home or farm).</li>
            <li class="list-group-item">It should also be nearer to the cattle shed/ stable for easy handling of raw materials.</li>
            <li class="list-group-item">The water table should not be very high.</li>
            <li class="list-group-item">Adequate supply of water should be there at the plant site. The plant should get clear sunshine during most part of the day.</li>
            <li class="list-group-item">The plant site should be well ventilated.</li>
            <li class="list-group-item">A minimum distance of 1.5m should be kept between the plant and any wall or foundation.</li>
            <li class="list-group-item">It should be away from any tree to prevent root interference.</li>
            <li class="list-group-item">It should be at least 15m away from any well used for drinking water purpose.</li>
          </ul>
          <h6>Availability of raw materials</h6>
          <p>The size of the biogas plant is to be decided based on availability of raw material. It is generally said that, average cattle yield is about 10 kg dung per day. For eg. the average gas production from dung may be taken as 40 lit/kg. of fresh dung. The total dung required for production of 3 m3 biogas is 3/0.04= 75 kgs. Hence, a minimum of 4 cattle is required to generate the required quantity of cow dung.</p>
    <hr class="col-3 col-md-2 mb-5">
        <h3>Technical guidelines for establishment of Biogas plants</h4>
            <h6>i. Digester Design</h6>
            <ul class="list-group">
                <li class="list-group-item">The recommendation of KVIC is to have a digester volume of 2.75 times the volume of gas produced per day.</li>
                <li class="list-group-item">KVIC recommendation for the depth of the plant is between 4 to 6 m according to the size but for economical use of building materials, a depth to diameter ratio between 1.0 to 1.3 are considered ideal for all types of plants. In a floating drum plant, a continuous ledge is built into the digester at a depth 10 cm. shorter than the height of the gas drum to prevent the gas holder from going down when no gas is left in it. It helps in preventing the gas inlet being choked. It also guides the gas bubbles rising from the side of the plants into the gas bolder.</li>
                <li class="list-group-item">In some plants slurry is fed at the bottom and removed at the top. When the digester diameter exceeds 1.6 m, a partition wall is provided in the digester to prevent short circuiting of slurry flow and increasing its retention period. In case of fixed dome plants, the volume of digester comes to between 1.5 times to 2.75 times the gas produced per day. Here, the higher the plant capacity, the lesser becomes the ratio of digester volume to gas produced per day.</li>
            </ul>
        <h6>ii.  Gas Holder Design</h6>
        <ul class="list-group">
            <li class="list-group-item">The design of a gas holder is influenced by the digester dia­meter and distribution of gas use during the day. For domestic plants, the gas holder capacity is kept at 60 per cent of a day's gas production and in case of laboratories, it is kept at 70 per cent of the day's gas production.</li>
            <li class="list-group-item">In a floating drum plant, the gas holder diameter is 15 cm. less than the diameter of the digester and accordingly the other dimensions are decided. The gas holder can be given a rotary movement around its guide to break the scum formation at the top.</li>
            <li class="list-group-item">In a fixed dome plant the dome angle is kept between 17° and 21° and it gives a pressure upto 100 cm. of water. Due to higher pressure, the diameter of gas pipelines can be re­duced and the gas can be taken to greater distance. In this plant, care should be taken to provide an earth pressure equivalent to 100 cm of  water column from the top of the dome. Always use 'A' class bricks in the domes for better stability.</li>
          </ul>
          <h6>iii.  Inlet Tank</h6>
        <ul class="list-group">
            <li class="list-group-item">Before the dung is fed into the plant, it is mixed with water in a tank to give a solid content of 7.5 per cent to 10 per cent in the slurry. This tank also helps in removing grass and other floating materials from the raw materials to prevent excessive scum formation in the plant. This tank is connected to the digester by an asbestos cement pipe. The floor of the mixing tank is given a slope opposite to the direction of inlet pipe to help heavy inorganic solid particles to settle and get separated from the slurry.</li>
            <img src="https://static.vikaspedia.in/media/images_en/energy/energy-production/solar-energy/bio-gastest.jpg" width="400" height="600" alt="">
            <p>In what way does this unit promise to be a better alternative to the conventional biogas plants?</p>
            <li class="list-group-item">Cattle dung is a major input for the conventional plants. And everyday the dung should be mixed as slurry and poured into the gas tank. But for Shakthi-surabhi, cattle dung is required for initial charging. Later on, kitchen and other wastes (leftover cooked food (veg and non-veg), vegetable wastes, material from flour mills, non edible oil seed cakes (neem, jatropha etc)) alone are sufficient for producing the required gas.</li>
            <li class="list-group-item">The unit comes in two attractive colours in capacities from 500 to 1,500 litres.</li>
            <li class="list-group-item">It is easy to fix or relocate and can be installed either at the backyard (if it is an independent house) or in the terrace or sunshade in flat structures.</li>
            <li class="list-group-item">Required feed materials</li>
          </ul>
    <hr class="col-3 col-md-2 mb-5">
        <h3>Biogas enrichment and bottling technology - a pilot demonstration unit</h4>
        <p class="fs-5 col-md-14">Shri Krishna Gaushala is located at Karera Village in Ghaziabad. It is a pilot demonstration unit of Ministry of New and Renewable Energy ( Govt of India) with the technology of IIT, Delhi.
            The Gaushala has a herd of around 1000 cows. There are two sheds for cows and one shed for calves, separate shed for bulls, shed for vermin-composting and compost pit, urine collection centre, three biogas plants (85+85+60 cum /day capacity), slurry collection tank, and a biogas purification and bottling unit.
        </p>
        <ul class="list-group">
            <li class="list-group-item">5 ton Cow Dung is used for the feeding of Biogas Plants (Capacity).</li>
            <li class="list-group-item">Biogas is purified and bottled with a Biogas Purification (water scrubbing system – capacity – 20 cum/hr) & Bottling Unit and used as fuel in vehicles –3)</li>
            <li class="list-group-item">Bio-Gas produced is also used for Power Generation with the help of genset.</li>
            <li class="list-group-item">he Biogas plant Spent Slurry (rich in nutrients than fresh cow dung) is used as Manure for plantation in gaushala and all around it and this slurry is also vermin-composted and marketed.</li>
          </ul>
    <hr class="col-3 col-md-2 mb-5">
        <h3>Kitchen Waste Based Biogas Plant</h4>
        <p class="fs-5 col-md-14">A kitchen waste based biogas plant has been installed at Nursery site for environmental friendly disposal of the waste generated in kitchens of various canteens in BARC premises. It is expected that the plant can process all the waste generated in these canteens.</p>
        <img src="https://i1.wp.com/www.cleanfuture.co.in/wp-content/uploads/2020/02/Rural-Biodigester.jpg?w=1152&ssl=1" width="600" alt="">
        
    <h6>The biogas plant has following components:</h6>
        <ul class="list-group">
            <li class="list-group-item">A mixer/pulper (5 HP motor) for crushing the solid waste</li>
            <li class="list-group-item">Premix tanks</li>
            <li class="list-group-item">Predigester tank</li>
            <li class="list-group-item">Solar heater for water heating</li>
            <li class="list-group-item">Main digestion tank (35 m3)</li>
            <li class="list-group-item">Manure pits</li>
            <li class="list-group-item">Gas lamps for utilisation of the biogas generated in the plant.</li>
          </ul>
          <h6>Process:</h6>
          <p>The waste generated in kitchen in the form of vegetable refuge, stale cooked and uncooked food, extracted tea powder, waste milk and milk products can all be processed in this plant.</p>
          <h6>Precautions may be taken while collecting the kitchen waste :</h6>
          <ul class="list-group">
            <li class="list-group-item">A separate container for coconut shells, coir, egg shells, onion peels and bones. These will not be processed in the biogas plant.</li>
            <li class="list-group-item">Separate containers of small volumes (5 litre capacity) to collect the wet waste (spoilt or stale cooked food, waste milk products etc.). The vegetables refuse like peels of various vegetables, rotten potatoes, and tomatoes, coriander leaves etc. may be collected in garbage bags of 5-kilo capacity. It must be noted that such segregation is of utmost importance for smooth running of the biogas plant.</li>
          </ul>
          <h6>There are two important modifications made in the conventional design of the biogas plant in BARC :</h6>
          <ul class="list-group">
            <li class="list-group-item">Introduction of a 5 HP mixer to process the waste before putting it into predigestor tank. The waste is converted in slurry by mixing with water (1:1) in this mixture.</li>
            <li class="list-group-item">Use of thermophilic microbes for faster degradation of the waste. The thermophiles can thrive superbly at high temperatures. Since the environment for such micro-organisms sustains higher temperatures, many spoilage and pathogenic organisms cannot survive in such extreme conditions. Therefore it would be ideal if we can make use of these organisms to degrade the kitchen waste to remove more toxic elements and then subject it to the traditional biogas plant for methane generation.</li>
          </ul>
          <p>A high temperature is maintained in the predigestor tank. The growth of thermophiles in the predigestor tank is assured by mixing the waste with hot water and maintaining the temperature in the range of 55-60oC. The hot water supply is from a solar heater. Even one-hour sunlight is sufficient per day to meet the needs of hot water.</p>
          <p>Another important aspect in smoother running of a biogas plant based on solid waste is how effectively one can avoid the choking of the plant. This choking may occur due to thick biomass that may be inaccessible to the micro-organisms to digest it. The logical solution to such a problem is to convert the solid waste into slurry that would be far more accessible for the microbial action. A high power mixer to convert the solid waste into slurry can achieve this purpose.
            After the predigestor tank, the slurry enters the main tank where it undergoes mainly anaerobic degradation by a consortium of archaebacteria belonging to Methanococcus group. These bacteria are naturally present in the alimentary canal of ruminant animals (cattle). They produce mainly methane from the cellulosic materials in the slurry.</p>
            <p>The undigested lignocellulosic and hemicellulosic materials then are passed on in the settling tank. After about a month high quality manure can be dug out from the settling tanks. There is no odour to the manure at all. The organic contents are high and this can improve the quality of humus in soil, which in turn is responsible for the fertility.</p>
            <p>As the gas is generated in the main tank, the dome is slowly lifted up. It reaches a maximum height of 8 feet holding 35 m3 of gas. This gas is a mixture of methane (70-75%), carbon-di-oxide (10-15%) and water vapours (5-10%). It is taken through GI pipeline to the lamp posts. Drains for condensed water vapour are provided on line. This gas burns with a blue flame and can be used for cooking as well. The gas generated in this plant is used for gas lights fitted around the plant. The potential use of this gas would be for a canteen. The manure generated is high quality and can be used in fields.</p>
            <p>Success of this biogas plant depends a great deal on proper segregation of the kitchen waste. The materials that can pose problems to the efficient running of plant are coconut shells and coir, egg shells, onion peels, bones and plastic pieces. Steel utensils like dishes, spoons etc. are likely to appear in the waste bags from canteens. While bones, shells and utensils can spoil the mixer physically, onion peels, coir and plastic can have detrimental effects on microbial consortium in the predigester and main digestion tanks which could be disastrous for the plant.</p>
</div>
</body>
</html>